
<h2>Phone Book App</h2>
<div class="container">


<div class="heading">
<p><label>Contacts</label><button type="button" (click)="AddContact()" class="btn btn-dark">+ Add Contact</button>
</p>
<input type="text" [(ngModel)]="searchText" placeholder="search by name">
</div>
<table class="table table-striped table-bordered table-sm"cellspacing="0">

    <tbody *ngFor="let c of (contact | sortname) | Searchbyname:searchText">
        <tr>
            <td>
                {{c.FirstName}}
            </td>
            <td>
                {{c.LastName}}
            </td>
            <td>
                {{c.Phone}}
            </td>
            <td>
                <button type="button" (click)=deleteContact(c.FirstName) class="btn btn-dark">Delete</button>
            </td>
        </tr>

    </tbody>

</table>
</div>

