.container{
    border-style: groove;
    margin-top: 150px;
    width: 500px;
    height: 500px;
}


.table{
    text-align: center;
    
}
h2{
    text-align: center;
}
.heading{
    float: left;
    
}
