
<h2>Phone Book App</h2>
<div class="container">

<h3>Contacts</h3>
<div class="heading">
<a routerLink="add">+ Add Contact</a>
</div>
<table class="table table-dark">

    <tbody *ngFor="let c of contact">
        <tr>
            <td>
                {{c.FirstName}}
            </td>
            <td>
                {{c.LastName}}
            </td>
            <td>
                {{c.Phone}}
            </td>
            <td>
                <button type="button" (click)=deleteContact(c.FirstName) class="btn btn-dark">Delete</button>
            </td>
        </tr>

    </tbody>

</table>
</div>

